.container {
    display: flex;
    justify-content: center;
}
.commentaire {
    padding: 10px 10px;
    width: 60%;
    background: linear-gradient(135deg, var(--main-one), #284C96);
    border-radius: 10px;
}
h3 {
    margin-bottom: 20px;
}

.commentaire .group input {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 15px;
    background: var(--second-two);
    margin-bottom: 20px;
    margin-top: 10px;
}
.commentaire form button {
    padding: 10px 20px;
    border-radius: 10px;
}