<div class="box" *ngIf="habitats">
    <div class="titre ">
        <h1 class="RobotoB">Mes habitats</h1>
        <button class="add LatoB" (click)="addHabitat()">
            <fa-icon class="edit" [icon]="addIcon"></fa-icon>
            Ajouter un habitat
        </button>
    </div>
    
    <div class="habitat" *ngFor="let habitat of habitats">
        <div class="img">
            <img src="" >
            <div class="info LatoB">
                <h3>{{habitat.titre}}</h3>
                <span class="LatoR ">{{habitat.adresse}}</span>
                <span>{{habitat.destination.pays}}, {{habitat.destination.ville}}({{habitat.destination.departement}})</span>
                <div class="prix LatoB" > 
                    {{ habitat.prix}} euro
                </div>
            </div>
        </div>
        <div class="icon">
            <a (click)="editHabitat(habitat.id)">
                <fa-icon class="edit" [icon]="edit"></fa-icon>
            </a>
            <a>
                <fa-icon  class="delete" [icon]="delete"></fa-icon>
            </a>
        </div>
       
        <div class="details"> 
            <a href="#" class="LatoB" (click)=" voirHabitat(habitat.id)">voir les détails </a>
        </div>
        
    </div>
</div> 
