<div class="en-tete">
    <div class="titre RobotoB">
        <h2>Listes des Réservations</h2>
    </div>
    <div class="items LatoB">
         <span>Id</span>
         <span>Habitat</span>
         <span>Locataire</span>
         <span>Statut</span>
    </div>
</div>   
<div class="reservation LatoB" *ngFor="let reservation of reservations | paginate: { itemsPerPage: 5, currentPage: p, totalItems:totalLength }">
        <span>{{reservation.id}}</span>
        <div class="habit">
            <img src="" alt="" >
            <span>{{reservation.habitat.titre}}</span>
        </div>
        <div class="user">
            <img src="" alt="">
            <span>{{reservation.user.nom}}</span>
        </div>
        <span class="annuler" *ngIf="reservation.Annulee" >Annulée</span>
        <span class="conserver" *ngIf="!reservation.Annulee">Conservée</span>
        <div class="icon">
            <a>
                <fa-icon  class="delete" [icon]="delete" (click)="supprimer(reservation.id)"></fa-icon>
            </a>

        </div>
</div>
<div class="pagination-container">
    <pagination-controls (pageChange)="p = $event" [maxSize]="8" class="my-pagination LatoB"></pagination-controls>
</div> 