<div class="box">
    <div class="reservation">
        <div class="img">
            <img [src]="serverUrl + reservation.habitat.medias[0].url" >
            <div class="annuler LatoB" *ngIf="reservation.Annulee"> cette reservation est annulée </div>
        </div>
        <div class="dateR LatoR">
                  le {{reservation.DateReservation}}
        </div>
        <div class="montant">
            <span class="LatoB">{{reservation.MontantTotal}}€</span>
            <p class="personnes LatoR">{{reservation.NombrePersonnes}} personnes</p>
        </div>
        <div class="dates">
            <div class="heure">
                <fa-icon [icon]="arrivee"></fa-icon>
                <div class="text">
                    <span class="LatoB">Arrivée</span>
                    <p class="LatoR">{{reservation.DateArrivee}}</p>
                </div>
            </div>
            <div class="heure">
              <fa-icon [icon]="depart"></fa-icon>
              <div class="text">
                  <span class="LatoB">Depart</span>
                  <p class="LatoR">{{reservation.DateDepart}}</p>
              </div>
            </div>
        </div>
        <div class="habitat">
           <a  class="nom LatoB" (click)="voirHabitat(reservation.habitat.id)">{{reservation.habitat.titre}}</a>
           <a (click)="commenter()" class="commenter LatoB">Commenter</a>
        </div>
  </div>
  <div class="commentaire" [class.active]="toggler">
    <h2 class="title RobotoB">
        Laisser un commentaire
    </h2>
    <form [formGroup]="commentaireForm" (ngSubmit)="publier()" class="LatoR">
        <div class="group LatoB">
            <label for="nom">Message</label>
            <input type="text" id="comment"  formControlName="comment">
        </div>
        <div class="group LatoB">
            <label for="nom">Message</label>
            <select name="evaluation" id="evaluation" multiple="multiple" type="number"  formControlName="evaluation" >
                <option  *ngFor="let num of numbers" [value]="num">{{num}}</option>
            </select>
        </div>
        <button class="btn LatoR" type="submit" >Publier</button>
    </form>
</div>


</div> 



