.box {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: linear-gradient(135deg, var(--main-one), #284C96);
}
.form {
    background: var(--second-two);
    max-width: 800px;
    width: 100%;
    padding: 20px 30px;
    border-radius: 5px 5px 0 0;

}
.form .title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #2b2a2a;
 
}

.form form {
        display: flex;
        flex-direction: column; 
 }

.form .group {
    display: grid;
    margin-bottom: 5px;
}
.form .group label {
    font-size: 17px;
    margin-bottom: 5px;
}
.form .group input {
    height: 45px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    padding-left: 10px;
    font-size: 15px;
    transition: var(--main-transition);
}
.form .group input:focus {
    border-color: var(--main-one);
}
.form  .group input.invalid:focus {
    border-color: var(--main-two);
}


.form .btn {
    grid-column: 1/ 2;
    color: #000;
    border: none;
    background: linear-gradient(135deg, var(--main-one), #284C96);;
}
.form .btn::before{
    background: var(--main-two);
}
.form .btn:hover {
    color: var(--second-one);
} 
.file label {
    height: 40px;
}