<div class="box">
    <div class="form">
        <div class="title RobotoB">
            Renseigner les informations du nouveau Categorie
        </div>
        <form [formGroup]="addForm" (ngSubmit)="creerCategory()" class="LatoB">
            <div class="group">
                <label for="nom" >le nom du Category</label>
                <input type="text"  id="nom" placeholder="" formControlName="nom">
                <div class="invalid" [class.dNone]="nom!.valid || nom!.untouched ">
                    <span *ngIf="nom!.hasError('required')">
                            Votre nom est obligatoire
                    </span>
                    <span *ngIf="nom!.hasError('minLength')">
                           Le nom doit contenir au moins 3 charachtères
                    </span>
                </div>
            </div>

            <button class="btn" type="submit">Enregistrer</button>
        </form>

    </div>
</div>