.en-tete {
    padding: 0 30px;
}
.titre {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.en-tete .items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000 ;
    padding: 20px 0 20px 0;
    margin-bottom: 2px;
}
.en-tete .items span {
    font-size: 20px;
}

.user{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 10px;
    margin-bottom: 3px;
    padding: 20px 30px;
    transition: var(--main-transition);
}
.user:hover {
    box-shadow: 0 2px 3px var(--second-one);
    background: var(--second-one);
}
.user:hover span {
    color: var(--main-two);
}

.user .nom {
    display: flex;
}
.user .nom img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user  a {
    margin-right: 10px;
    cursor: pointer;
}
.user a fa-icon {
    font-size: 20px;
}
.user:hover a .edit {
    color: var(--main-one)
}
.user:hover a .delete {
    color: var(--main-two);
}
@media(max-width:500px){
    .en-tete .items span {
        font-size: 15px;
    }   
    .user span {
        font-size: 11px;
    }
}