
<div class="box">
    <div class="form">
        <div class="title RobotoB">
            Renseigner les informations du Categorie
        </div>
        <form [formGroup]="addForm" (ngSubmit)="editCat()" class="LatoB">
            <div class="group">
                <label for="nom" >le nom du Category</label>
                <input type="text"  id="nom" placeholder="" formControlName="nom">
                <div class="invalid" [class.dNone]="nom!.valid || nom!.untouched ">
                    <span *ngIf="nom!.hasError('required')">
                            Votre nom est obligatoire
                    </span>
                    <span *ngIf="nom!.hasError('minLength')">
                           Le nom doit contenir au moins 3 charachtères
                    </span>
                </div>
            </div>

            <div class="group file">
                <input type="file"  id="file" (change)="handleMediaInput($event)" >
                <label for="file" >
                    <fa-icon  [icon]="imageIcon"></fa-icon>
                    Choisir une Image
                </label>
            </div>
            <div class="img" (click)="menuToggle()" >
                <img [class.border]="toggler" [src]="serverUrl + categorie.media.url" alt="" srcset="">
                <div class="sup LatoR"  [class.active]="toggler">
                    supprimer 
                </div>
            </div>

            <button class="btn" type="submit">Enregistrer</button>
        </form>

    </div>
</div>
