<div class="commentaires">
    <div class="commentaire LatoR" *ngFor="let commentaire of commentaires">
          <img [src]="serverUrl + commentaire.reservation.user.media.url" alt="" >
          <div class="stars" >
            <fa-icon *ngFor="let ev of numTable(commentaire.Evaluation)" [icon]="faStar"></fa-icon>
          </div>
          <p class="date"> Le {{getDate(commentaire.DateCommentaire)}} à {{getTime(commentaire.DateCommentaire)}}</p>
          <p class="contenu">{{commentaire.Contenu}}</p>
    </div>
</div>
