<div class="box">
    <div class="form">
        <title class="title RobotoB"> Renseigner les informations du service</title>
        <form [formGroup]="addForm" (ngSubmit)="editService()" class="LatoB">
            <div class="group">
                <label for="nom" >le nom du Service</label>
                <input type="text"  id="nom" placeholder="" formControlName="nom">
                <div class="invalid" [class.dNone]="nom!.valid || nom!.untouched ">
                    <span *ngIf="nom!.hasError('required')">
                            Votre nom est obligatoire
                    </span>
                    <span *ngIf="nom!.hasError('minLength')">
                           Le nom doit contenir au moins 3 charachtères
                    </span>
                </div>
            </div>
            <div class="group">
                <label for="description" >Description du service </label>
                <textarea type="text"  id="description" placeholder="" formControlName="description"></textarea>
                <div class="invalid" [class.dNone]="description!.valid || description!.untouched ">
                    <span *ngIf="description!.hasError('required')">
                            Votre description est obligatoire
                    </span>
                    <span *ngIf="description!.hasError('minLength')">
                           La description doit contenir au moins 3 charachtères
                    </span>
                </div>
            </div>

            <button class="btn" type="submit">Enregistrer</button>
        </form>

    </div>
</div>