<div class="container">
    <div class="form">
        <label class="close-btn"><fa-icon [icon]="faTimes"></fa-icon></label>
        <title  class="bienvenu LatoB">Bienvenu</title>
        <div class="title LatoR">
            Connectez-vous à votre espace
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="Seconnecter()" novalidate class="LatoR" #userForm="ngForm">
            {{signupForm.value | json}}
           
            <div class="group">
                <label for="e-mail" >Email</label>
                <input type="email" 
                       id="email" 
                       placeholder="" 
                       formControlName="username"
                
                       [class.invalid]="signupForm.get('username')!.invalid && signupForm.get('username')!.touched">

            <div class="invalid" [class.dNone]="signupForm.get('username')!.valid || signupForm.get('username')!.untouched ">
                <span *ngIf="signupForm.get('username')!.hasError('required')">
                  Votre adresse email est obligatoire
                </span>
                <span *ngIf="signupForm.get('username')!.hasError('email')">
                  Le Format de l'adresse fournie n'est pas valide
                </span>
              </div>
            </div>
            <div class="group">
              <label for="password" >Mot de passe</label>
              <input type="password" 
                     id="password" 
                     placeholder="" 
                     formControlName="password"
                     
                     [class.invalid]="signupForm.get('password')!.invalid && signupForm.get('password')!.touched">

                     <div class="invalid" [class.dNone]="signupForm.get('password')!.valid || signupForm.get('password')!.untouched" 
                     >
                     <span *ngIf="signupForm.get('password')!.invalid "> 
                      Le mot de passe est obligatoire
                     </span> 
                    </div>
          </div>
            <div class="alert" *ngIf="errorMessage">
                {{ errorMessage }}
              </div>

            <button  class="btn LatoR" type="submit" >Connecter</button>

            <div class="oublier">Mot de passe oublié</div>
        
            <p>Don't have an account? Sing Up 
                <a routerLink='signupLocataire'>Locataire</a> or <a routerLink='signupProprietaire'>Propriétaire</a>
            </p>
        </form>
       

    </div>
    
</div>

