<div class="en-tete">
    <div class="titre RobotoB">
        <h2>Listes des Services</h2>
        <button class="add LatoB" (click)="addService()">
            <fa-icon class="edit" [icon]="addIcon"></fa-icon>
            Ajouter un service
        </button>
    </div>
    <div class="items LatoB">
         <span>Id</span>
         <span>Nom</span>
         <span>Description</span>
    </div>
</div>   
<div class="service LatoB" *ngFor="let service of services">
        <span >{{service.id}}</span>
        <span >{{service.nom}}</span>
        <span >{{service.description}}</span>
        <div class="icon">
            <a routerLink='{{service.id}}'>
                <fa-icon class="edit" [icon]="edit"></fa-icon>
            </a>
            <a>
                <fa-icon  class="delete" [icon]="delete" (click)="supprimer(service.id)"></fa-icon>
            </a>

        </div>
        
</div>

