/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';

/* Variables */
:root {
    --main-one: #289672;
    --main-two:  #96284C;
    --second-one: #E9DFDF;
    --second-two: #E3DDDD;
    --main-transition: 0.3s;
}
/* Global Rules */
* {
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
    font-size: 15px;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px ;
    }
}

/* Fonts */
             /***** Robto *****/
@font-face {
    font-family: RobotoL; /* Light */
    src: url(assets/font/Roboto-Light.ttf) format('truetype')
}
.RobotoL {
    font-family: RobotoL;
}

@font-face {
    font-family: RobotoR; /* Regular */
    src: url(assets/font/Roboto-Regular.ttf) format('truetype')
}
.RobotoR {
    font-family: RobotoR;
}

@font-face {
    font-family: RobotoB; /* Bold */
    src: url(assets/font/Roboto-Bold.ttf) format('truetype')
}
.RobotoB {
    font-family: RobotoB;

}
                 /***** Lato *****/
@font-face {
    font-family: LatoL; /* Light */
    src: url(assets/font/Lato-Light.ttf) format('truetype')
}
.LatoL {
    font-family: LatoL;
}

@font-face {
    font-family: LatoR; /* Regular */
    src: url(assets/font/Lato-Regular.ttf) format('truetype')
}
.LatoR {
    font-family: LatoR;
}

@font-face {
    font-family: LatoB; /* Bold */
    src: url(assets/font/Lato-Bold.ttf) format('truetype')
}
.LatoB {
    font-family: LatoB;
}


/** Buttons **/

.btn {
    border: 1px solid var(--main-two);
    border-radius: 2px;
    background: var(--main-two);
    font-family: LatoB;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--second-one);
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    border-radius: 0 0 5% 40% ;
    background: var(--second-one);
    transition: 0.8s;
    z-index: -1;

}
.btn:hover {
    color: var(--main-one);
}
.btn:hover::before {
    height: 100%;
    
}
/*** validations classes **/
.invalid {
    color:  var(--main-two);
}

.dNone {
    display: none;
}


#toast-container > div {
    opacity: 1;
}
/** Icons **/



/** Pangiantion **/

.pagination-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.my-pagination ::ng-deep .ngx-pagination .current {
    background: var(--main-two);
    color: var(--second-one);
}
.my-pagination ::ng-deep .ngx-pagination {
    padding: 8px;
    border-radius: 2px;
    background: var(--second-two);
}
.back {
    background-color:#E3DDDD;
}


/**** Input File **/
input[type="file"] {
    display: none;
}
.file label {
    color: var(--second-one);
    height: 60px;
    width: 250px;
    background-color: var(--main-one);
    transition: var(--main-transition);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  RobotoB;
}
.file label:hover{
    color: var(--main-one);
    background-color: var(--second-one);
}
.file label fa-icon {
    font-size: 30px;
    margin-right: 5px;
}