                            /** Ordinateur **/
.container {
    background-color: #000;
    display: grid;
    padding: 15px 60px;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    grid-template-areas: 
    "logo logo . . . . social social "
    "links links links links . . . ."
    ". . . copyright copyright . . .";

}
.logo {
    grid-area: logo;
}
.social {
    grid-area: social;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.social li a  {
    display: grid;
    height: 40px;
    width: 40px;
    border: 1px solid var(--main-two);
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    transition: var(--main-transition);
}
.social li a:hover {
    border-color: var(--second-two);
    background-color: var(--main-two);
}
.social li a fa-icon {
    font-size: 25px;
    color: var(--second-two);
    transition: var(--main-transition);
}
.social li a:hover  fa-icon {
    color: #000;
}
.links {
    grid-area: links ;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
    row-gap: 20px;
}
.links li a {
    color: var(--main-two);
    transition: var(--main-transition);

}
.links li a:hover {
    color: var(--second-one);
}

.copyright{
    grid-area: copyright;
    color: var(--second-two);
}
                     /*** TABLETTES ***/
@media(max-width: 990px){
    .container {
        display: grid;
        padding: 15px 20px;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto auto auto;
        row-gap: 10px;
        grid-template-areas: 
        "logo logo . . social social "
        "links links links links . . . ."
        ". .  copyright copyright  . .";
    }
    .logo {
        grid-area: logo;
    }
    .social {
        grid-area: social;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto auto;
        row-gap: 20px;
    }
    .copyright {
        grid-area: copyright;
    }
}
                       /*** SMARTPHONES ***/
@media(max-width: 760px) {
    .container {
        display: grid;
        padding: 15px 20px;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        row-gap: 30px;
        grid-template-areas: 
        "logo "
        "social"
        "social"
        "social"
        "links "
        "copyright";
    }
    .logo {
        grid-area: logo;
        display: grid;
        justify-content: center;
    }
    .social {
        grid-area: social;
        display: grid;
        justify-content: center;
        column-gap: 10px;
    }
    .links {
        grid-area: links;
        display: grid;
        grid-template-columns:  auto;
        grid-template-rows: repeat(7, auto);
        row-gap: 20px;
    }
    .copyright {
        grid-area: copyright;
        display: grid;
        justify-content: center;
    }
}    
