<div class="container">
    <div class="logo">
        <a href="#" class="logo" > <img src="assets/AttypikLogoF.png" alt="" width="100"> </a>
    </div>
    <ul class="social">
            <li>
                <a href="#">
                    <fa-icon [icon]="faFacebookSquare"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faTwitterSquare"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faInstagram" ></fa-icon>
                </a>
            </li>
    </ul>
    <ul class="links RobotoR">
        <li><a href="">Hébergements</a></li>
        <li><a href="">Destinations</a></li>
        <li><a href="">Qui sommes-nous</a></li>
        <li><a routerLink="contact">Contactez-nous</a></li>
        <li><a href="">Mentions légales</a></li>
        <li><a href="">CGV</a></li>
        <li><a href="">CGU</a></li>
    </ul>
    <div class="copyright LatoR">
        <p>Copyright © 2022-Tous droits réservés</p>
    </div>
</div>
