<div class="box">
    <title  class="titre RobotoB">Réservations</title>
    <div class="reservation" *ngFor="let reservation of reservations">
        <div class="habitat">
            <img [src]="serverUrl + reservation.habitat.medias[0].url"  alt="">
            <div class="info LatoB">
                <h3>{{reservation.habitat.titre}}</h3>
                <span class="LatoR ">effectué le {{reservation.DateReservation}}</span>
            </div>
        </div>
        <div class="annuler LatoB" *ngIf="reservation.Annulee"> 
            Cette réservation a été annulée
        </div>
        <div class="details"> 
            <a href="#" class="LatoR" routerLink="{{reservation.id}}" >voir les détails </a>
        </div>
        
    </div>
</div> 
