<div class="container">  
     <div class="sidebar">
            <div class="img">
                <img src="" alt="" srcset="">
            </div>
            <h2 class="RobotoR">{{currentUser.nom}}</h2>
            <ul class="menu LatoB" >
                    <li>
                        <a routerLink='reservations'>
                            <fa-icon [icon]="resrvIcon"></fa-icon>
                            <span>Mes reservations</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink='habitats'>
                            <fa-icon [icon]="settIcon"></fa-icon>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink='habitats'>
                            <fa-icon [icon]="logOut"></fa-icon>
                            <span>Deconnecter</span>
                        </a>
                    </li>
                </ul>
     </div>
     <div class="outlet">
         <router-outlet></router-outlet>
    </div>
</div>